aclocal.m4
autom4te.cache
Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.la
libtool
*.pc
config.log
config.status
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
configure
tiomxplayer

